@page
@model Capstone.Pages.Events.CreateEventModel
@{
}

@{
    ViewData["Title"] = "New Event";
}

<h2>New Event</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="NewEvent.EventName" class="control-label"></label>
        <input asp-for="NewEvent.EventName" class="form-control" />
        <span asp-validation-for="NewEvent.EventName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewEvent.StartDate" class="control-label"></label>
        <input asp-for="NewEvent.StartDate" class="form-control" type="date" />
        <span asp-validation-for="NewEvent.StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewEvent.EndDate" class="control-label"></label>
        <input asp-for="NewEvent.EndDate" class="form-control" type="time" />
        <span asp-validation-for="NewEvent.EndDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewEvent.Description" class="control-label"></label>
        <textarea asp-for="NewEvent.Description" class="form-control"></textarea>
        <span asp-validation-for="NewEvent.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewEvent.Address" class="control-label"></label>
        <input asp-for="NewEvent.Address" class="form-control" />
        <span asp-validation-for="NewEvent.Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewEvent.RegistrationCost" class="control-label"></label>
        <input asp-for="NewEvent.RegistrationCost" class="form-control" />
        <span asp-validation-for="NewEvent.RegistrationCost" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
