@page
@model Capstone.Pages.Events.EventApprovalModel
@{
    ViewData["Title"] = "Event Approval";
}

<div class="text-center">
    <h2>New Event Successfully Submitted.</h2>
    <p>Please check your email for approval.</p>
    <a class="btn btn-primary" href="/Events/Index">Back to Events</a>
</div>
